/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@theme {
  --color-primary: #2563EB;
  --color-secondary: #FBBF24;
}

/* *{
  font-family: Outfit;
}

.font-playfair{
  font-family: Playfair !important;
} */

* {
  font-family: 'Outfit';
}

.font-playfair {
  font-family: 'Playfair' !important;
}
/* Optional overrides */
.font-inter {
  font-family: 'Inter' !important;
}


